<%- include('partials/header') -%>
<div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <label>Login</label>
        <input type="text">
        <label>Password</label>
        <input type="text">
    </form>
</div>
<%- include('partials/footer') -%>