body {
    /* text-align: center;s */
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.header {
    display: flex;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
}

.header .nav-bar .nav-bar-list {
    display: flex;
    list-style: none;
}

.header .nav-bar .nav-bar-list li {
    margin-right: 20px;
    margin-left: 20px;
}

.header .nav-bar .nav-bar-list li a {
    text-decoration: none;
    color: whitesmoke;
}

.main-content {
    height: 90vh;
}

.container {
    display: flex;
    width: 30%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.time-tracked {
    width: 50px;
    text-align: center;
}

.trackInput {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    width: 32.2px;
    text-align: center;
} 

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    margin-top: -50px;
    width: 100%;
}

/* login-container */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-column div {
    margin: 20px 0;
}

/* Tracks */

.mainContainer {
    display: flex;
    
}

.hour {
    width: 120px;
    height: 40px;
}

.tracksContainer {
    width: 120px;
    height: 960px;
    position: relative;
    margin-right: 100px;
}

.track {
    width: 120px;
    height: 40px;
    background-color: steelblue;
    position: absolute;
}

.separater {
    height: 80px;
}

.date {
    position: relative;
    bottom: 100px;
}
